.st-munu-toggle span,
.st-munu-toggle span:before,
.st-munu-toggle span:after {
    background-color: #fff;
}

.my-calendar {}

.my-calendar img {
    max-width: 700px !important;
}

:root {
    --swiper-navigation-color: #fec544;
    --swiper-pagination-color: #fec544;
}

.button-group {
    overflow-x: scroll;
    width: 100%;
}

.st-social-link .st-social-btn {
    overflow: visible;
}

.st-social-link .st-social-btn img {
    border-radius: 100%;
}

@media only screen and (max-width: 900px) {

    .my-calendar img {
        max-width: 100% !important;
    }

}